body {
    margin: 0 !important;
    padding: 0 !important;
    background: #fff;
    color: #212121;
}

.wrapper {
    width: 500px;
    margin: auto;
    margin-bottom: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.wrapper-block-child {
    max-width: 54em;
}

.logo, .blocked {
    margin: auto;
    display: block;
    padding-top: 12px;
    padding-bottom: 12px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hds-button {
    border-radius: 20px;
}

.logo {
    height: 30px;
}

h3 {
    text-align: center;
    font-size: 11px;
    line-break: anywhere;
}

.blocked {
    height: 24px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0px;
}

.red {
    color: rgba(153, 0, 1, 1);
}

.yellow {
    color: rgba(117, 80, 0, 1);
}

.blue {
    color: rgba(15, 86, 155, 1);
}

p {
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    text-align: center;
}

a, a:link, a:visited {
    font-family: "Segoe UI", system-ui, "Roboto", "SF Pro Text", helvetica, sans-serif;
    font-size: 13px;
    font-weight: 300;
    text-decoration: none;
    cursor: pointer;
    color: #003CFF;
}

a:hover, a:active {
    text-decoration: underline;
}

#links-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 2em;
}

.banking-button {
    border-radius: 24px;
    height: 36px;
    width: calc(100% - 8px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.link-item {
    display: flex;
    width: 30%;
    padding: 0.5em 0.83%;
    margin: 0.5em 0.83%;
    border-radius: 0.5em;
    box-shadow: 0em 0.1em 0.3em 0.1em LightGray;
}

.link-image {
    width: 2em;
    height: 2em;
}

.link-anchor-container {
    display: block;
    margin-left: 0.5em;
    line-height: 2em;
    width: 85%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.fp_after_allow_website {
    margin-top: 20px;
    font-size: 11px;
}

.fp_bottom {
    font-size: 13px;
    padding-bottom: 5px;
}

.allow_website {
    padding-top: 30px;
}

.category {
    height: 24px;
    margin-bottom: -5px;
}

.bg-pic {
    display: block;
    margin: auto;
}

.bg-pic img {
    visibility: hidden;
}

.bg-harmful {
    background: url("../img/illustration_shark_light.svg") center top no-repeat;
    background-size: contain;
    height: 122px;
}

.bg-shoppingblock {
    background: url("../img/illustration_shopping_block_light.svg") center top no-repeat;
    background-size: contain;
    height: 122px;
}

.bg-parental {
    background: url("../img/illustration_app_block_light.svg") center top no-repeat;
    background-size: contain;
    height: 122px;
}

.bg-denied {
    background: url("../img/illustration_unprotected_light.svg") center top no-repeat;
    background-size: contain;
    height: 122px;
}

.bg-banking {
    background: url("../img/illustration_bank_light.svg") center top no-repeat;
    background-size: contain;
    height: 122px;
}

.bg-by-fsecure {
    display: block;
    margin: auto;
    height: 24px;
}

footer {
    position: fixed; 
    bottom: 0; 
    left: 0; 
    right: 0;
    margin-bottom: 12px;
}

@media(max-height: 500px) {
    footer {
        display: none;
    }
    header {
        display: none;
    }
    .bg-pic {
        display: none;
    }
}

#report-link {
    font-size: 17px;
}

#website-allowed {
    font-size: 13px;
}

header {
    padding: 16px;
}

.link span, a, a:link, a:visited {
    font-size: 16px;
    color: var(--button-color);
}

@media(prefers-color-scheme: dark) {

    .bg-harmful {
        background: url("../img/illustration_shark_dark.svg") center top no-repeat;
    }

    .bg-shoppingblock {
        background: url("../img/illustration_shopping_block_dark.svg") center top no-repeat;
    }

    .bg-parental {
        background: url("../img/illustration_app_block_dark.svg") center top no-repeat;
        background-size: contain;
        height: 122px;
    }
    
    .bg-denied {
        background: url("../img/illustration_unprotected_dark.svg") center top no-repeat;
        background-size: contain;
        height: 122px;
    }
    
    .bg-banking {
        background: url("../img/illustration_bank_dark.svg") center top no-repeat;
        background-size: contain;
        height: 122px;
    }

    body {
        background: #212121;
        color: #fff;

    }
    
    a, a:link, a:visited {
        color: #99B1FF;
    }

    .link a, a:link, a:visited {
        filter: brightness(1.25);
    }
    
    .link-item {
        box-shadow: 0em 0.1em 0.3em 0.1em DarkSlateGray;
    }

    .red {
        color: rgba(229, 145, 146, 1);
    }

    .yellow {
        color: rgba(255, 219, 143, 1);
    }

    .blue {
        color: rgba(160, 208, 255, 1);
    }
    
}
