.ripple-breath {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #707070;
  height: 100%;
}
.ripple-breath .bg1 .badge_text{
  display: flex;
  align-items: center;
  font-size: 2rem;
}

.ripple-breath p {
  margin: 0;
}

.ripple-breath .bg1 {
  position: relative;
  overflow: hidden;
  padding: 20px;
  height: 100%;
}

.ripple-breath .logo {
  position: absolute;
  width: 8.5rem;
  height: auto;
  left: 85%;
  transform: translate(-15px, -10px);
  top: 85%;
  z-index: 9;
}
.ripple-breath .breath {
  position: absolute;
  width: 60%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.ripple-breath .breath h2 {
  font-size: 2rem;
  font-weight: 200;
  margin: 0;
}
.ripple-breath .breath h4 {
  margin: 0;
  font-size: 1.9rem;
  margin-bottom: 35px;
}

.ripple-modal {
  position: fixed; /* Stay in place */
  z-index: 99999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.7); /* Black w/ opacity */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* Modal Content Box */
.ripple-modal-content-first {
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  width: 75%; /* Could be more or less, depending on screen size */
  border-radius: 6px;
  height: 90%;
  overflow: hidden;
}

.ripple-breath .badge {
  border: 1px solid #888;
  background: #888;
  color: #fff;
  border-radius: 15px;
  font-size: 20px;
  font-weight: bolder;
  margin-right: 6px;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ripple-breath .breath_count {
  z-index: 1000;
  color: #717171;
  font-weight: bold;
  font-size: 24px;
}

.ripple-breath .bing-breath h2{
  line-height: 1.3;
}

/*Ripple Sleep Time Modal*/
.ripple-sleep-modal {
  position: fixed; /* Stay in place */
  z-index: 9999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.7); /* Black w/ opacity */
}

.ripple-sleep-modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  width: 30%; /* Could be more or less, depending on screen size */
  border-radius: 6px;
  height: 40%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.ripple-sleep-modal-content #rippleSleepTimer{
  width: 100%;
  padding: 15px;
  font-size: 1.8rem;
  border-radius: 8px;
  margin: 15px;
  background: #fff;
}

.ripple-sleep-modal-content .text-center{
  text-align: center;
}

.ripple-sleep-modal-content .text-center.main h2{
  color: grey;
}

.ripple-sleep-modal .logo {
  position: absolute;
  width: 10rem;
  height: auto;
  transform: translate(-15px, -10px);
  top: 43%;
  left: 57%;
  z-index: 9;
}

.bing-sleep h2{
  font-size: 2rem;
  font-weight: bold;
}

.bing-sleep #rippleSleepTimer{
  width: 65%;
  height: 50px;
  padding: 0;
}

.btn-default{
  background-color: grey;
  color: #fff;
  font-size: 1.8rem;
  padding: 10px;
  border-radius: 10px;
}

.btn-ripple{
  background-color: #7f1da3;
  color: #fff;
  font-size: 1.8rem;
  padding: 10px;
  border-radius: 10px;
}

/*Media Query For Sleep Modal*/
@media screen and (max-width: 576px) {
  .ripple-sleep-modal-content {
    height: 30%;
    width: 50%;
  }

  .ripple-sleep-modal-content .logo {
    width: 8rem;
    top: 30%;
    left: 60%;
  }

  .main h2{
    font-size: 2rem;
  }

  .ripple-sleep-modal-content #rippleSleepTimer {
    width: 100%;
  }
}
@media screen and (min-width: 577px) and (max-width: 696px) {
  .ripple-sleep-modal-content {
    height: 30%;
    width: 50%;
  }

  .ripple-sleep-modal-content .logo {
    width: 8rem;
    top: 30%;
    left: 60%;
  }

  .main h2{
    font-size: 2rem;
  }

  .ripple-sleep-modal-content #rippleSleepTimer {
    width: 100%;
  }
}
@media screen and (min-width: 696px) and (max-width: 767px) {
  .ripple-sleep-modal-content {
    height: 30%;
    width: 50%;
  }

  .ripple-sleep-modal-content .logo {
    width: 8rem;
    top: 30%;
    left: 63%;
  }

  .ripple-sleep-modal-content #rippleSleepTimer {
    width: 100%;
  }
}
@media screen and (min-width: 767px) and (max-width: 992px) {
  .ripple-sleep-modal-content {
    height: 40%;
    width: 50%;
  }

  .ripple-sleep-modal-content .logo {
    width: 8rem;
    left: 66%;
    top: 41%;
  }

  .ripple-sleep-modal-content #rippleSleepTimer {
    width: 100%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1024px) {
  .ripple-sleep-modal-content .logo {
    width: 8rem;
    top: 43%;
    left: 58%;
  }

  .ripple-sleep-modal-content #rippleSleepTimer {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1229px) {
  .ripple-sleep-modal-content .logo {
    width: 8rem;
    top: 43%;
    left: 58%;
  }

  .ripple-sleep-modal-content #rippleSleepTimer {
    width: 100%;
  }
}
@media screen and (min-width: 1320px) and (max-width: 1440px) {
  .ripple-sleep-modal-content .logo{
    width: 8.5rem;
    top: 43%;
    left: 58%;
  }

  .main h2{
    font-size: 1.8rem;
  }

  .ripple-sleep-modal-content #rippleSleepTimer {
    width: 100%;
  }
}
@media screen and (min-width: 1441px) and (max-width: 1679px) {
  .ripple-sleep-modal-content .logo{
    width: 10rem;
    top: 43%;
    left: 58%;
  }

  .main h2{
    font-size: 2rem;
  }

  .ripple-sleep-modal-content #rippleSleepTimer {
    width: 100%;
  }
}
@media screen and (min-width: 1680px) and (max-width: 1820px) {
  .ripple-sleep-modal-content .logo{
    width: 10rem;
    top: 43%;
    left: 57%;
  }
  .main h2{
    font-size: 2rem;
  }
}
@media screen and (min-width: 1821px) and (max-width: 1999px) {
  .ripple-sleep-modal-content .logo{
    width: 12rem;
    top: 43%;
    left: 57%;
  }

  .main h2{
    font-size: 2rem;
  }
}
@media screen and (min-width: 2401px) and (max-width: 3000px) {
  .ripple-sleep-modal-content .logo{
    width: 16rem;
    top: 43%;
    left: 57%;
  }
  
  .main h2{
    font-size: 2.3rem;
  }
}
@media screen and (min-width: 3001px) and (max-width: 4000px) {
  .ripple-sleep-modal-content .logo{
    width: 24rem;
    top: 43%;
    left: 57%;
  }
  .main h2{
    font-size: 2.8rem;
  }
  .ripple-sleep-modal-content #rippleSleepTimer {
    font-size: 1.8rem;
  }
  .bing-sleep #rippleSleepTimer {
    padding: 0px;
    height: 2.3em;
    margin: 3rem;
  }
  .btn{
    margin-top: 0.5em;
    font-size: 3em;
    border-radius: 15px;
  }
}
@media screen and (min-width: 4001px) and (max-width: 6000px) {
  .ripple-sleep-modal-content .logo{
    width: 30rem;
    top: 43%;
    left: 57%;
  }
  .main h2{
    font-size: 3.5rem;
  }
  .ripple-sleep-modal-content #rippleSleepTimer {
    font-size: 1.8rem;
  }
  .bing-sleep #rippleSleepTimer {
    padding: 0;
    height: 2.3em;
    margin: 3rem;
  }
  .btn{
    margin-top: 0.5em;
    font-size: 3rem;
    border-radius: 15px;
  }
}
@media screen and (min-width: 6001px) {
  .ripple-sleep-modal-content .logo{
    width: 30rem;
  }
  .main h2{
    font-size: 4.8rem;
  }
  .ripple-sleep-modal-content #rippleSleepTimer {
    font-size: 2.5rem;
  }
  .bing-sleep #rippleSleepTimer {
    padding: 0;
    height: 2.3em;
    margin: 4rem;
  }
  .btn{
    margin-top: 0.9em;
    font-size: 4rem;
    border-radius: 15px;
  }
}

.ripple-modal-content{
  font-family: Arial, sans-serif;

    .lg\:text-sm{
      font-size: 1.6rem;
      line-height: 2.5rem;
    }
    .lg\:text-base {
      font-size: 1.7rem;
      line-height: 2rem;
    }
    .lg\:text-2xl{
      font-size: 2.5rem;
      line-height: 3.5rem;
    }
    .text-sm{
      font-size: 1.375rem;
      line-height: 2.5rem;
    }
    .w-4{
      width: 1.6rem;
    }
    .h-4{
      height: 1.6rem;
    }
    .lg\:w-8{
      width: 3rem;
    }
    .lg\:h-8{
      height: 3rem;
    }
    .lg\:w-12{
      width: 4rem;
    }
    .lg\:h-12{
      height: 4rem;
    }
    .px-4{
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
    .py-6{
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
    .w-20{
      width: 8rem;
    }
    .text-xs{
      font-size: 1.25rem;
      line-height: 1.5rem;
    }
}

@media (min-width: 1024px){
  .ripple-modal-content{
    .lg\:text-lg{
      font-size: 1.875rem;
      line-height: 2.5rem;
    }
  }
}
