:root {
	--fs-website-dark: url("img/fs_website_dark.svg");
	--fs-website-light: url("img/fs_website_light.svg");
	--fs-website-w-dark: url("img/fs_website_w_dark.svg");
	--fs-website-w-light: url("img/fs_website_w_light.svg");
	--fs-website-unknown-dark: url("img/fs_website_unknown_dark.svg");
	--fs-website-unknown-light: url("img/fs_website_unknown_light.svg");
	--fs-website-dark: url("img/fs_website_dark.svg");
	--fs-website-light: url("img/fs_website_light.svg");
	--fs-shopping-dark: url("img/fs_shopping_dark.svg");
	--fs-shopping-light: url("img/fs_shopping_light.svg");
	--fs-shopping-w-dark: url("img/fs_shopping_w_dark.svg");
	--fs-shopping-w-light: url("img/fs_shopping_w_light.svg");
	--fs-banking-dark: url("img/fs_banking_dark.svg");
	--fs-banking-light: url("img/fs_banking_light.svg");
	--fs-by-fsecure: url("img/by_fsecure.svg");
	--fs-adblock-light: url("img/fs_adblock_light.svg");
	--fs-adblock-dark: url("img/fs_adblock_dark.svg");
	--fs-cookie-block-dark: url("img/fs_cookie_block_dark.svg");
	--fs-cookie-block-light: url("img/fs_cookie_block_light.svg");
	--fs-settings-dark: url("img/fs_settings_dark.svg");
	--fs-settings-light: url("img/fs_settings_light.svg");
	--fs-question-dark: url("img/fs_question_dark.svg");
	--fs-question-light: url("img/fs_question_light.svg");
	--fs-info-dark: url("img/fs_info_dark.svg");
	--fs-info-light: url("img/fs_info_light.svg");
	--fs-info-dark-filled: url("img/fs_info_filled_dark.svg");
	--fs-info-light-filled: url("img/fs_info_filled_light.svg");
	--fs-admin-shield-light: url("img/admin_shield.svg");
}

* {
	font-family: 'Segoe UI', system-ui;
	font-size: 12px;
}

.v-h-center {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.h-center {
	margin: 0 auto;
	display: block;
	text-align: center;
}

.h-right {
	margin: 0 auto;
	display: block;
	float: right;
}

.v-center {
	display: table-cell;
	vertical-align: middle;
}

.flex {
	display: flex;
}

.bold {
	font-weight: bold;
}

.b-gray-border {
	border-top: 1px solid #cecece;
}

.bg-pic {
	display: block;
	margin: auto;
}

.bg-by-fsecure {
	background: var(--fs-by-fsecure) center top no-repeat;
	background-size: contain;
	height: 20px;
	margin: 16px;
}

.hds-radio-item {
	display: flex;
	margin-bottom: 8px;
	margin-right: 16px;
}

.hds-radio:checked + label, .hds-radio:not(:checked) + label {
	cursor: pointer;
	display: inline-block;
	line-height: 16px;
	padding-left: 28px;
	position: relative;
}

.hds-radio-item label {
	cursor: pointer;
	font-size: 14px;
	margin: 2px 0px 1px 4px;
}

button {
	margin: 4px;
}

.hds-button {
	align-items: center;
	background: var(--button-color, #006CD9);
	border: 0;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
	font-size: .75rem;
	font-weight: 600;
	height: 34px;
	justify-content: center;
	line-height: 120%;
	min-width: 120px;
	padding: 4px 12px;
	position: relative;
	text-align: center;
}

.hds-button-secondary {
	align-items: center;
	background: transparent;
	border: 1px solid var(--button-color, #006CD9);
	border-radius: 4px;
	color: var(--button-color, #006CD9);
	cursor: pointer;
	display: inline-flex;
	font-size: .75rem;
	font-weight: 600;
	height: 34px;
	justify-content: center;
	min-width: 120px;
	padding: 4px 12px;
}

button:hover {
	opacity: .75;
}

button:active {
	opacity: 1;
	cursor: default;
}

button:disabled {
	opacity: .5;
	cursor: default;
}

.button-inverted {
	color: var(--button-color, #006CD9);
	background: #fff;
}

.button-no-border {
	color: var(--button-color, #006CD9);
	background: transparent;
	border: 0;
	width: auto;
}

.button-full-width {
	padding: 5px;
	height: 30px;
	width: 100%;
}

.product-logo {
	background: var(--product-logo-light) center top no-repeat;
	background-size: contain;
	height: 32px;
	background-color: var(--product-logo-bg-color);
}

.product-logo-left {
	background: var(--product-logo-light) left top no-repeat;
	background-size: contain;
	height: 32px;
	background-color: var(--product-logo-bg-color);
}

.status-icon-globe-unknown {
	background: var(--fs-website-unknown-light) center top no-repeat;
	background-size: contain;
	height: 20px;
	width: 20px;
}

.status-icon-globe-warning {
	background: var(--fs-website-w-light) center top no-repeat;
	background-size: contain;
	height: 20px;
	width: 20px;
}

.status-icon-shopping {
	background: var(--fs-shopping-light) center top no-repeat;
	background-size: contain;
	height: 20px;
	width: 20px;
}

.status-icon-shopping-warning {
	background: var(--fs-shopping-w-light) center top no-repeat;
	background-size: contain;
	height: 20px;
	width: 20px;
}

.status-icon-globe {
	background: var(--fs-website-light) center top no-repeat;
	background-size: contain;
	height: 20px;
	width: 20px;
}

.status-icon-warning {
	background: var(--fs-website-w-light) center top no-repeat;
	background-size: contain;
	height: 20px;
	width: 20px;
}

.status-icon-banking {
	background: var(--fs-banking-light) center top no-repeat;
	background-size: contain;
	height: 20px;
	width: 20px;
}

.adblocker-icon {
	background: var(--fs-adblock-light) center top no-repeat;
	background-size: contain;
	height: 24px;
	width: 24px;
}

.cookie-block-icon {
	background: var(--fs-cookie-block-light) center top no-repeat;
	background-size: contain;
	height: 24px;
	width: 24px;
}

.settings-icon {
	background: var(--fs-settings-light) center top no-repeat;
	background-size: contain;
	height: 24px;
	width: 24px;
}

.question-icon {
	background: var(--fs-question-light) center top no-repeat;
	background-size: contain;
	height: 24px;
	width: 24px;
}

.info-icon {
	background: var(--fs-info-light) center top no-repeat;
	background-size: contain;
	height: 24px;
	width: 24px;
}

.info-icon-filled {
	background: var(--fs-info-light-filled) center top no-repeat;
	background-size: contain;
	height: 24px;
	width: 24px;
}

.info-panel {
	border-radius: 8px;
	border: 1px solid #78BCFF;
	background: #DEEFFF;
}

.admin-shield-icon {
	background: var(--fs-admin-shield-light) center top no-repeat;
	background-size: contain;
	height: 24px;
	width: 24px;
}

@media(prefers-color-scheme: dark) {
	body {
		background: #212121;
		color: #fff;
	}

	svg {
		background-color: #212121;
	}

	.header {
		filter: brightness(1.15);
	}

	a, a:link, a:visited {
		filter: brightness(1.25);
	}

	a:hover, a:active {
		filter: brightness(1.44);
	}

	.hds-button {
		filter: brightness(1.25);
	}

	.hds-button-secondary {
		filter: brightness(1.25);
	}

	.link-item {
		box-shadow: 0em 0.1em 0.3em 0.1em DarkSlateGray;
	}
	.button-no-border {
		color: var(--button-color, #006CD9);
		filter: brightness(1.25);
		background: transparent;
		border: 0;
		width: auto;
	}
 
	.product-logo {
        background: var(--product-logo-dark) center top no-repeat;
		background-size: contain;
		height: 32px;
		background-color: transparent;
	}

	.product-logo-left {
		background: var(--product-logo-dark) left top no-repeat;
		background-size: contain;
		height: 32px;
		background-color: transparent;
	}

	.status-icon-globe-unknown {
		background: var(--fs-website-unknown-dark) center top no-repeat;
		background-size: contain;
		height: 20px;
		width: 20px;
	}
	
	.status-icon-globe-warning {
		background: var(--fs-website-w-dark) center top no-repeat;
		background-size: contain;
		height: 20px;
		width: 20px;
	}

	.status-icon-shopping {
		background: var(--fs-shopping-dark) center top no-repeat;
		background-size: contain;
		height: 20px;
		width: 20px;
	}
	
	.status-icon-shopping-warning {
		background: var(--fs-shopping-w-dark) center top no-repeat;
		background-size: contain;
		height: 20px;
		width: 20px;
	}
	
	.status-icon-globe {
		background: var(--fs-website-dark) center top no-repeat;
		background-size: contain;
		height: 20px;
		width: 20px;
	}
	
	.status-icon-warning {
		background: var(--fs-website-w-dark) center top no-repeat;
		background-size: contain;
		height: 20px;
		width: 20px;
	}
	
	.status-icon-banking {
		background: var(--fs-banking-dark) center top no-repeat;
		background-size: contain;
		height: 20px;
		width: 20px;
	}

	.adblocker-icon {
		background: var(--fs-adblock-dark) center top no-repeat;
		background-size: contain;
		height: 24px;
		width: 24px;
	}

	.cookie-block-icon {
		background: var(--fs-cookie-block-dark) center top no-repeat;
		background-size: contain;
		height: 24px;
		width: 24px;
	}

	.settings-icon {
		background: var(--fs-settings-dark) center top no-repeat;
		background-size: contain;
		height: 24px;
		width: 24px;
	}

	.question-icon {
		background: var(--fs-question-dark) center top no-repeat;
		background-size: contain;
		height: 24px;
		width: 24px;
	}

	.info-icon {
		background: var(--fs-info-dark) center top no-repeat;
		background-size: contain;
		height: 24px;
		width: 24px;
	}

	.info-icon-filled {
		background: var(--fs-info-dark-filled) center top no-repeat;
		background-size: contain;
		height: 24px;
		width: 24px;
	}

	.info-panel {
		border-radius: 8px;
		border: 1px solid #0F569B;
		background: #002D59;
	}
}

textarea {
	resize: none;
	width: 300px;
}

.status-logo {
	height: 32px;
}

