/* Top bar for pagewide icons */
#wave5topbar
{
	width:100%;
	background:#f9f9f9;
	border-bottom: 1px solid #737C70;
	text-align:center;
	padding: 0px;
	font: 14px "Open Sans", Helvetica, sans-serif;
}

#wave5topbar .wave5icon {
	margin:4px;
}

#report {
	width: 100%;
	height: 100%;
	border: none;
	overflow: auto;
}

.wavehidden {
	position:absolute;
	top:auto;
	left:-10000px;
}

@keyframes blink { 50% { opacity:0 ; }  }

/* Bottom bar for code view */
#wave5bottombar
{
	width:100%;
	width:calc(100% - 380px);
	height:0px;
	background:#f9f9f9;
	border-top: 1px inset #737C70;
	position: absolute;
	bottom: -1px;
	left: 0px;
}

#wave5bottombar.codeopen {
	height:100px;
}

#wave5bottombar.codeopen {
	height:0px;
}

#wave5codetoggle {
	position:absolute;
	top:0px;
	left:50%;
	margin:-60px 0 0 -36px;
	width:100px;
	height:60px;
	text-align: center;
	background: transparent url(/img/codehandle.svg) 0px 0px no-repeat;
}

#wave5codetoggle.wave5_open {
	background: transparent url(/img/codehandle2.svg) 0px 0px no-repeat;
	margin-top:0px;
}

#wave5codetoggle a {
	display: inline-block;
	height:60px;
	width:100px;
}

#wave5code {
	height:195px;
	padding:4px 4px 2px 4px;
	font-family:"Lucida Grande", Consolas, sans-serif;
	font-size: 1em;
	overflow-x:auto;
	overflow-y:auto;
}

#wave5code .wave5element {
	color:darkmagenta;
	padding-left:15px;
	display: block;
}

#wave5code .wave5attribute {
	color:firebrick;
}

#wave5code .wave5value {
	color:blue;
}

#wave5code .wave5comment {
	color:green;
	padding-left:15px;
}

#wave5code .wave5codetext {
	color:#000;
	margin-left:10px;
}

#wave5code .selectedcode {
	outline: 1px dotted rgb(94, 140, 78);
	background-color: #e6e6e6;
}

#wave5code img {
	max-height: 28px;
	max-width: 28px;
	margin-top:-5px;
	float:left;
}

#wave5_loading {
	position:absolute;
	top:45%;
	left:49%;
	opacity: 1 !important;
}

/* Icon boxes */

#wave5_iconbox {
	display: none;
	width: 226px;
	height: auto;
	padding:15px 15px 15px 15px;
	border: 1px solid #1451A0;
	border-top: 5px solid #1451A0;
	border-bottom: 5px solid #1451A0;
	box-sizing: content-box;
	box-shadow:6px 6px 6px rgba(0,0,0,0.25);
	background:white;
	position: fixed;
	font-family:"Open Sans", Helvetica, sans-serif;
	transition: all 0.2s ease;
	z-index: 100000000000;
	text-align: left;
}

@media (prefers-reduced-motion: reduce) {
	#wave5_iconbox {
		transition-duration: 0.001ms !important;
	}
}

#wave5_iconbox_title {
	margin-bottom:15px;
	color:#1451A0;
	font-size:18px;
	font-family:"Open Sans", Helvetica, sans-serif;
	line-height:20px;
}

#wave5_details {
	font-size:14px;
}

#wave5_iconbox_summary {
	color:#333;
}

#wave5_iconbox_doclink {
	margin-top:15px;
}

#wave5_iconbox_doclink a {
	color:#0050C7;
	font-size:11px;
	text-transform: uppercase;
}

.viewInCodePanelLink {
	position:relative;
	left: 125px;
}

#wave5_iconbox_doclink a:hover, #wave5_iconbox_doclink a:focus {
	color:#1451A0;
	background:none;
}

#wave5_iconbox_arrow {
	overflow: hidden;
	position: absolute;
	width: 70px;
	height: 16px;
	margin-left: -35px;
}

#wave5_iconbox_arrow.bl {
	left: 22px;
	bottom: -20px;
}

#wave5_iconbox_arrow.br {
	right: -16px;
	bottom: -20px;
}

#wave5_iconbox_arrow.tl {
	left: 22px;
	top: -20px;
}

#wave5_iconbox_arrow.tr {
	right: -16px;
	top: -20px;
}

#wave5_iconbox_arrow:after {
	background-color:#1351A0;
	content: "";
	position: absolute;
	left: 20px;
	top: -20px;
	width: 28px;
	height: 28px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

#wave5_iconbox_arrow.tl:after, #wave5_iconbox_arrow.tr:after {
	background-color:#1351A0;
	left: 20px;
	top: 10px;
}