.ripple-breath {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #707070;
  height: 100%;
}
.ripple-breath .bg1 .badge_text{
  display: flex;
  align-items: center;
}

.ripple-breath .bg1 {
  position: relative;
  overflow: hidden;
  padding: 20px;
  height: 100%;
}
.ripple-breath .logo {
  position: absolute;
  width: 4.5rem;
  height: auto;
  left: 88%;
  transform: translate(-15px, -10px);
  top: 85%;
  z-index: 9;
}
.ripple-breath .breath {
  position: absolute;
  width: 60%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.ripple-breath .breath h2 {
  font-size: 1rem;
  font-weight: 200;
  margin: 0;
  line-height: 1.4;
}
.ripple-breath .breath h4 {
  margin: 0;
  font-size: 0.9rem;
  margin-bottom: 35px;
}

.ripple-modal {
  position: fixed; /* Stay in place */
  z-index: 99999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.7); /* Black w/ opacity */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* Modal Content Box */
.ripple-modal-content-first {
  background-color: #fefefe;
  width: 75%; /* Could be more or less, depending on screen size */
  border-radius: 6px;
  height: 90%;
  overflow: hidden;
}

.ripple-breath .badge {
  border: 1px solid #888;
  background: #888;
  color: #fff;
  border-radius: 15px;
  font-size: 14px;
  font-weight: bolder;
  margin-right: 6px;
  width: 1.3rem;
  height: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ripple-breath .breath_count {
  z-index: 1000;
  color: #717171;
  font-weight: bold;
  font-size: 16px;
}

/**
@media screen and (max-width: 576px) {
  .ripple-modal-content-first {
    height: 70%;
    width: 70%;
    margin: 10% auto;
  }
  .ripple-breath .bg1 {
    padding: 10px;
  }

  .ripple-breath .logo {
    width: 4rem;
    left: 75%;
    top: 90%;
  }
  .ripple-breath .breath h2{
    font-size: 1rem;
  }
  .ripple-breath .breath h4{
    font-size: 10px;
  }
}
@media screen and (min-width: 577px) and (max-width: 696px) {
  .ripple-modal-content-first {
    height: 60%;
    width: 70%;
    margin:10% auto;
  }
  .ripple-breath .bg1 {
    padding: 10px;
  }

  .ripple-breath .logo {
    width: 4rem;
    left: 88%;
    top: 88%;
  }
  .ripple-breath .breath h2{
    font-size: 1rem;
  }
}
@media screen and (min-width: 696px) and (max-width: 767px) {
  .ripple-modal-content-first {
    height: 60%;
    width:70%;
    margin: 8% auto;
  }
  .ripple-breath .bg1 {
    padding: 10px;
  }

  .ripple-breath .logo {
    width: 4rem;
    left: 88%;
    top: 88%;
  }
}
@media screen and (min-width: 767px) and (max-width: 992px) {
  .ripple-modal-content-first {
    height: 65%;
    width: 65%;
    margin: 5% auto;
  }
  .ripple-breath .bg1 {
    padding: 10px;
  }

  .ripple-breath .logo {
    width: 4rem;
    left: 88%;
    top: 88%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1024px) {
  .ripple-modal-content-first {
    height: 65%;
    width: 55%;
    margin: 5% auto;
  }
  .ripple-breath .bg1 {
    padding: 10px;
  }

  .ripple-breath .logo {
    width: 4rem;
    left: 83%;
    top: 88%;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1229px) {
  .ripple-modal-content-first {
    height: 65%;
    width: 50%;
    margin: 5% auto;
  }
  .ripple-breath .bg1 {
    padding: 10px;
  }

  .ripple-breath .logo {
    width: 4rem;
    left: 88%;
    top: 88%;
  }
}
@media screen and (min-width: 1320px) and (max-width: 1440px) {
  .ripple-modal-content-first {
    height: 70%;
    width: 50%;
    margin: 5% auto;
  }
  .ripple-breath .bg1{
    padding: 20px;
  }
  .ripple-breath .logo{
    width: 4.5rem;
    left: 90%;
    top: 86%;
  }

  .ripple-breath .breath h2{
    font-size: 1.2rem;
  }
  .ripple-breath .breath h4{
    font-size: 1rem;
    margin-top: 1rem;
  }
  .ripple-breath .bg1 small {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 1441px) and (max-width: 1679px) {
  .ripple-modal-content-first {
    height: 70%;
    width: 50%;
    margin: 5% auto;
  }
  .ripple-breath .bg1{
    padding: 20px;
  }
  .ripple-breath .logo{
    width: 5rem;
    left: 85%;
    top: 88%;
  }
  .ripple-breath .breath h2{
    font-size: 1.5rem;
  }
  .ripple-breath .breath h4{
    font-size: 1rem;
    margin-top: 1rem;
  }
  .ripple-breath .bg1 small {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 1680px) and (max-width: 1820px) {
  .ripple-modal-content-first {
    height: 70%;
    width: 50%;
    margin: 5% auto;
  }
  .ripple-breath .bg1{
    padding: 20px;
  }
  .ripple-breath .logo{
    top: 88%;
    width: 5rem;
    left: 87%;
  }
  .ripple-breath .breath h2{
    font-size: 1.5rem;
  }
  .ripple-breath .breath h4{
    font-size: 1rem;
    margin-top: 1rem;
  }
  .ripple-breath .bg1 small {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1821px) and (max-width: 1999px) {
  .ripple-modal-content-first {
    height: 70%;
    width: 50%;
    margin: 5% auto;
  }

  .ripple-breath .bg1{
    padding: 30px;
    padding-right: 20px;
  }

  .ripple-breath .logo{
    top: 87%;
    width: 6rem;
    left: 87%;
  }

  .ripple-breath .breath h2{
    font-size: 1.8rem;
  }
  .ripple-breath .breath h4{
    font-size: 1.3rem;
    margin-top: 1rem;
  }

  .ripple-breath .bg1 small {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 2401px) and (max-width: 3000px) {
  .ripple-modal-content-first {
    height: 70%;
    width: 50%;
    margin: 5% auto;
  }

  .ripple-breath .bg1{
    padding: 35px;
    padding-right: 20px;
  }

  .ripple-breath .logo{
    width: 8rem;
    left: 88%;
    top: 88%;
  }

  .ripple-breath .breath h2{
    font-size: 2.6rem;
  }
  .ripple-breath .breath h4{
    font-size: 1.8rem;
    margin-top: 1rem;
  }

  .ripple-breath .bg1 small {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 3001px) and (max-width: 4000px) {
  .ripple-modal-content-first {
    height: 70%;
    width: 50%;
    margin: 5% auto;
  }

  .ripple-breath .bg1{
    padding: 50px;
    padding-right: 20px;
  }

  .ripple-breath .logo{
    width: 12rem;
    left: 88%;
    top: 88%;
  }

  .ripple-breath .breath h2{
    font-size: 3.5rem;
  }
  .ripple-breath .breath h4{
    font-size: 2rem;
    margin-top: 1rem;
  }

  .ripple-breath .bg1 small {
    font-size: 2rem;
  }
}
@media screen and (min-width: 4001px) and (max-width: 6000px) {
  .ripple-modal-content-first {
    height: 70%;
    width: 50%;
    margin: 5% auto;
  }

  .ripple-breath .bg1{
    padding: 80px;
    padding-right: 20px;
  }

  .ripple-breath .logo{
    width: 15rem;
    left: 88%;
    top: 87%;
  }

  .ripple-breath .bg1 small{
    font-size: 3rem;
  }
  .ripple-breath .breath h2{
    font-size: 4.5rem;
  }
  .ripple-breath .breath h4{
    font-size: 3.4rem;
    margin-top: 1rem;
  }
}
*/

/*Ripple Sleep Time Modal*/
.ripple-sleep-modal {
  position: fixed; /* Stay in place */
  z-index: 99999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.7); /* Black w/ opacity */
}

.ripple-sleep-modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  width: 30%; /* Could be more or less, depending on screen size */
  border-radius: 6px;
  height: 40%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.ripple-sleep-modal-content #rippleSleepTimer{
  width: 50%;
  font-size: 20px;
  padding: 8px;
  border-radius: 8px;
  margin: 15px;
  background: #fff;
}

.ripple-sleep-modal-content .text-center{
  text-align: center;
}

.ripple-sleep-modal .logo {
  position: absolute;
  width: 5rem;
  height: auto;
  transform: translate(-15px, -10px);
  top: 45%;
  left: 59%;
  z-index: 9;
}

.btn-default{
  background-color: grey;
  color: #fff;
  font-size: 18px;
  padding: 10px;
  border-radius: 10px;
}

.btn-ripple{
  background-color: #7f1da3;
  color: #fff;
  font-size: 18px;
  padding: 10px;
  border-radius: 10px;
}

/*Media Query For Sleep Modal*/
@media screen and (max-width: 576px) {
  .ripple-sleep-modal-content {
    height: 30%;
    width: 50%;
  }

  .ripple-sleep-modal-content .logo {
    width: 4rem;
    top: 30%;
    left: 60%;
  }

  .main h2{
    font-size: 1rem;
  }

  .ripple-sleep-modal-content #rippleSleepTimer {
    width: 80%;
  }
}
@media screen and (min-width: 577px) and (max-width: 696px) {
  .ripple-sleep-modal-content {
    height: 30%;
    width: 50%;
  }

  .ripple-sleep-modal-content .logo {
    width: 4rem;
    top: 30%;
    left: 60%;
  }

  .main h2{
    font-size: 1rem;
  }

  .ripple-sleep-modal-content #rippleSleepTimer {
    width: 70%;
  }
}
@media screen and (min-width: 696px) and (max-width: 767px) {
  .ripple-sleep-modal-content {
    height: 30%;
    width: 50%;
  }

  .ripple-sleep-modal-content .logo {
    width: 4rem;
    top: 30%;
    left: 63%;
  }

  .ripple-sleep-modal-content #rippleSleepTimer {
    width: 50%;
  }
}
@media screen and (min-width: 767px) and (max-width: 992px) {
  .ripple-sleep-modal-content {
    height: 40%;
    width: 50%;
  }

  .ripple-sleep-modal-content .logo {
    width: 4rem;
    left: 66%;
    top: 41%;
  }

  .ripple-sleep-modal-content #rippleSleepTimer {
    width: 50%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1024px) {
  .ripple-sleep-modal-content .logo {
    width: 4rem;
    top: 43%;
    left: 58%;
  }

  .ripple-sleep-modal-content #rippleSleepTimer {
    width: 50%;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1229px) {
  .ripple-sleep-modal-content .logo {
    width: 4rem;
    top: 43%;
    left: 58%;
  }

  .ripple-sleep-modal-content #rippleSleepTimer {
    width: 50%;
  }
}
@media screen and (min-width: 1320px) and (max-width: 1440px) {
  .ripple-sleep-modal-content .logo{
    width: 4.5rem;
    top: 43%;
    left: 58%;
  }

  .main h2{
    font-size: 0.8rem;
  }

  .ripple-sleep-modal-content #rippleSleepTimer {
    width: 30%;
  }
}
@media screen and (min-width: 1441px) and (max-width: 1679px) {
  .ripple-sleep-modal-content .logo{
    width: 5rem;
    top: 43%;
    left: 58%;
  }

  .main h2{
    font-size: 1rem;
  }

  .ripple-sleep-modal-content #rippleSleepTimer {
    width: 50%;
    font-size: 1rem;
  }
}
@media screen and (min-width: 1680px) and (max-width: 1820px) {
  .ripple-sleep-modal-content .logo{
    width: 5rem;
    top: 43%;
    left: 57%;
  }
  .main h2{
    font-size: 1rem;
  }
}
@media screen and (min-width: 1821px) and (max-width: 1999px) {
  .ripple-sleep-modal-content .logo{
    width: 6rem;
    top: 43%;
    left: 57%;
  }

  .main h2{
    font-size: 1rem;
  }
}
@media screen and (min-width: 2401px) and (max-width: 3000px) {
  .ripple-sleep-modal-content .logo{
    width: 8rem;
    top: 43%;
    left: 57%;
  }
  
  .main h2{
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 3001px) and (max-width: 4000px) {
  .ripple-sleep-modal-content .logo{
    width: 12rem;
    top: 43%;
    left: 57%;
  }
  .main h2{
    font-size: 1.8rem;
  }
  .ripple-sleep-modal-content #rippleSleepTimer {
    font-size: 2rem;
    border-radius: 15px;
  }
  .btn{
    margin-top: 0.5em;
    font-size: 2em;
    border-radius: 15px;
  }
}
@media screen and (min-width: 4001px) and (max-width: 6000px) {
  .ripple-sleep-modal-content .logo{
    width: 15rem;
    top: 43%;
    left: 57%;
  }
  .main h2{
    font-size: 2.5rem;
  }
  .ripple-sleep-modal-content #rippleSleepTimer {
    font-size: 2.5rem;
    margin: 3rem;
    border-radius: 20px;
  }
  .btn{
    margin-top: 0.5em;
    font-size: 2rem;
    border-radius: 15px;
  }
}
@media screen and (min-width: 6001px) {
  .ripple-sleep-modal-content .logo{
    width: 15rem;
  }
  .main h2{
    font-size: 3.8rem;
  }
  .ripple-sleep-modal-content #rippleSleepTimer {
    font-size: 3.5rem;
    margin: 3rem;
    border-radius: 20px;
  }
  .btn{
    margin-top: 0.9em;
    font-size: 3rem;
    border-radius: 15px;
  }
}
